@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, .wrapper {
  min-height: 100%;
}

body {
  cursor: none;
  overflow-x: hidden;
  font-size: 19px;
}

body, input, textarea, a, button {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}

.cursor, .cursor.invert {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;

  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 100%;
  z-index: 1000;
  transition: .1s all, .3s height, .3s width, .6s background-color, .6s color;

  &[data-type='first'] {

  }
  &[data-type='second'] {
    width: 64px;
    height: 64px;
  }
  &[data-type='third'] {
    background-color: #fff;
    mix-blend-mode: difference;
    width: 32px;
    height: 32px;
  }
}

.first {
  min-height: 800px;
  height: 100vh;
  
  background-color: #FB8C00;

  & .container {
    display: flex;
    align-items: center;
    height: 100%;

    & h1 {
      & span {
        font-size: 139px;
      }
      font-size: 96px;
      color: #FFFFFF;
      line-height: .9;
    }
  }
  & .title {
    min-width: 700px;
  }
  & .canvas {
    flex-grow: 1;
    height: 100%;
    margin-left: calc(-50% + 50px);
  }
}

.second {
  min-height: 800px;

  background-color: #00ACC1;
}

.third {
  overflow: hidden;
  min-height: 800px;
  display: flex;
  background-color: #fff;
  & .container {
    display: flex;
    align-items: center;
  }
  z-index: 1700;
  position: relative;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

@media (hover: none) {
  .cursor {
    opacity: 0;
    z-index: -1;
  }
}