@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, .wrapper {
  min-height: 100%;
}

body {
  cursor: none;
  overflow-x: hidden;
  font-size: 19px;
}

body, input, textarea, a, button {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}

.cursor, .cursor.invert {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;

  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 100%;
  z-index: 1000;
  transition: .1s all, .3s height, .3s width, .6s background-color, .6s color;

  &[data-type='first'] {

  }
  &[data-type='second'] {
    width: 16px;
    height: 16px;
  }
  &[data-type='third'] {
    background-color: #fff;
    mix-blend-mode: difference;
    width: 32px;
    height: 32px;
  }
}

.first {
  min-height: 800px;
  height: calc(100vh + 250px);
  padding-bottom: 250px;
  
  background-color: #FB8C00;

  & .container {
    display: flex;
    align-items: center;
    height: 100%;

    & h1 {
      & span {
        font-size: 139px;
      }
      font-size: 96px;
      color: #FFFFFF;
      line-height: .9;
    }
  }
  & .title {
    min-width: 700px;
  }
  & .canvas {
    flex-grow: 1;
    height: 100%;
    margin-left: calc(-50% + 50px);
  }
}

.second {
  overflow: hidden;
  animation: 6s ease-in 1s infinite reverse both running wave;
  min-height: 800px;

  margin-top: -120px;
  background-color: #00ACC1;

  display: flex;
  justify-content: center;

  & .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & .title {
    text-align: right;
    text-transform: uppercase;
    margin-left: 100px;
  }
  & h1 {
    & span {
      font-size: 169px;
    }
    font-size: 96px;
    color: #FFFFFF;
    line-height: .9;
  }

  & .image {
    margin-top: -1200px;
    width: 600px;
    & img {
      width: 100%;
    }
  }
}

@keyframes wave {
  0% {
    clip-path: polygon(31.6% 0%, 51.2% 13%, 76.9% 0%, 100% 3.1%, 100% 49.7%, 100% 100%, 0% 100%, 0% 5.2%, 11.8% 8.9%);
  }
  50% {
    clip-path: polygon(31.6% 6.7%, 51.2% 0%, 77.5% 5.7%, 100% 3.1%, 100% 49.7%, 100% 100%, 0% 100%, 0% 5.2%, 11.9% 0%);
  }
  100% {
    clip-path: polygon(31.6% 0%, 51.2% 13%, 76.9% 0%, 100% 3.1%, 100% 49.7%, 100% 100%, 0% 100%, 0% 5.2%, 11.8% 8.9%);
  }
}

.third {
  overflow: hidden;
  min-height: 800px;
  display: flex;
  background-color: #fff;
  & .container {
    display: flex;
    align-items: center;
  }
  z-index: 1700;
  position: relative;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

@media (hover: none) {
  .cursor {
    opacity: 0;
    z-index: -1;
  }
}